{#
/**
 * Tab avisos modificadores
 *
 * - title: title of the block
 * - data:  Response of the request
 *   - calls: Array with the options
 */   
#}

<div 
	class="tab-pane fade" 
	id="call-detail-menu-notice" 
	role="tabpanel" 
	aria-labelledby="call-detail-menu-notice-tab"
>
	<p class="text-primary-600 font-weight-bold title-responsive-48-36--sm text-center">Avisos modificatorios</p>

	{% set break = false %}
	{% for outter in response.avisos_modificatorios if not break%}
	
		{% if outter.avisos == null %}
			<div class="table-responsive wider">
				<table class="table table-bordered mt-5">
					<colgroup>
						<col class="w-5">
						<col class="w-35">
						<col class="w-60">
					</colgroup>
				
					<thead>
						<tr>
							<th scope="col" class="f-14">No.</th>
							<th scope="col" class="f-14">Documento</th>
							<th scope="col" class="f-14">Descripci贸n</th>
						</tr>
					</thead>
					<tbody>
						{% for item in response.avisos_modificatorios %}
							<tr>
								<td class="text-dark-900">{{ loop.index }}</td>
								<td class="f-14">
									<a href="javascript: void(0)" data-document="{{ item.id_alfresco }}" title="{{ item.nombre }}"><u>{{ item.nombre }}</u></a>
									<br>
									<div class="call-tag-pdf"><span></span></div>
								</td>
								<td class="text-dark-900 f-14">{{ item.descripcion|raw }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% set break = true %}
		
		{% else %}
			<p class="text-dark-900">{{ outter.nombre|raw }}</p>

			<div class="table-responsive wider">
				<table class="table table-bordered mb-5">
					<colgroup>
						<col class="w-5">
						<col class="w-35">
						<col class="w-60">
					</colgroup>
				
					<thead>
						<tr>
							<th scope="col" class="f-14">No.</th>
							<th scope="col" class="f-14">Documento</th>
							<th scope="col" class="f-14">Descripci贸n</th>
						</tr>
					</thead>
					<tbody>
						{% for item in outter.avisos %}
							<tr>
								<td class="text-dark-900">{{ loop.index }}</td>
								<td class="f-14">
									<a href="javascript: void(0)" data-document="{{ item.id_alfresco }}" title="{{ item.nombre }}"><u>{{ item.nombre }}</u></a>
									<br>
									<div class="call-tag-pdf"><span></span></div>
								</td>
								<td class="text-dark-900 f-14">{{ item.descripcion|raw }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
			
	{% endfor %}

	{% if response.avisos_modificatorios|length == 0 %}
		<div class="border-empty">
			<img src="/{{directory}}/images/sin-informacion.png" alt="No hay elementos">
			<p>No se encontr贸 contenido en esta secci贸n</p>
		</div>
	{% endif %}
</div>