{#
/**
 * @file
 * Sobreescritura del BLOQUE "Contactanos"
 * Modifica el layout de "Contactanos",
 * para modificar el layout de cada contacto debe hacerlo en el 
 * administrador de drupal, editando la sobreescritura de los campos en la vista:
 * "Lista de contactos"
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }} class="section-title contact-title" >{{ label }}</h2>
		<p class="mt-2 mt-xl-8 f-18 text-primary-800 contact-info" style="max-width: 570px">Te invitamos a enviar tus preguntas sobre las convocatorias del Programa Distrital de Estímulos a los siguientes correos electrónicos:</p>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}

	<p class="mt-5 f-18 text-primary-800 contact-footer" style="max-width: 570px">Verifica la entidad a la que corresponde la convocatoria. Un equipo técnico le dará respuesta a tus interrogantes.</p>
</div>
